/*--purple - #F36422 - */
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.open,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_actived,
#nav > li:hover,
#nav > li.active,
.yt-product-detail .tab-product-detail .yt-tab-navi > li.active,
.yt-product-detail .tab-product-detail .yt-tab-navi > li.active:hover{
	border-top: 5px solid #F36422;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li .sm_megamenu_dropdown_6columns, 
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_6columns {
	border-bottom: 10px solid #F36422;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1:last-child:hover a.sm_megamenu_head,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_actived:last-child a.sm_megamenu_head,
#nav > li:last-child:hover > a,
#nav > li.active:last-child > a,
#nav > li:last-child:hover:hover > a{
	border: 1px solid #F36422;
	border-bottom: none;
}

.yt-tab-listing .respl-tabs-container .respl-tabs > li.tab-sel, 
.yt-tab-listing .respl-tabs-container .respl-tabs > li:hover,
.container-slider.brand-slider .slider .vpo-wrap .vp .item .item-wrap .item-img:hover,
.yt-product-detail .jCarouselLite > ul > li:hover img,
.yt-product-detail .jCarouselLite > ul > li.selected img{
	border: 1px solid #F36422;
}

.title-header{
	border-color: #F36422 !important;
}
#upsell_pro.container-slider .page-button .control-button .next:hover,
#upsell_pro.container-slider .page-button .control-button .preview:hover,
#yt_header .header-content-right .login-quick .submit-login:hover,
#yt_header .header-content-right .login-quick  .submit-login:hover .submit-repl,
.mini-cartpro .block-content .mini-products-list li.item a.btn-edit:hover,
.mini-cartpro .block-content .mini-products-list li.item a.btn-remove:hover,
input.quantity-plus:hover,
input.quantity-minus:hover,
#yt-totop:hover,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1:last-child:hover a,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_lv1.sm_megamenu_actived:last-child a,
.container-slider .btn-cart:hover,
.container-slider .btn-wishlist:hover,
.container-slider .btn-compare:hover,
#nav > li:last-child:hover > a,
#nav > li.active:last-child > a,
#nav > li:last-child:hover:hover > a,
#nav li > ul:before,
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.yt-tab-listing .respl-tabs-container .respl-tabs > li.tab-sel, 
.yt-tab-listing .respl-tabs-container .respl-tabs > li:hover,
.yt-tab-listing .item-addto-wrap .item-addcart:hover,
.yt-tab-listing .item-addto-wrap .item-wishlist:hover,
.yt-tab-listing .item-addto-wrap .item-compare:hover,
.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn,
.latest-blog-header .btn-latest-blog > li > a:hover,
.container-slider.brand-slider .page-button.top .control-button .preview:hover,
.container-slider.brand-slider .page-button.top .control-button .next:hover,
.sm_quickview_handler:hover,
.sm-cartpro .actions button.button.btn-gocheckout span, 
#confirmbox  .button.btn-cart:hover > span,
#btcancel:hover,
#btccart span:hover,
#btcshop:hover span,
.sj-extraslider .extraslider-control .button-page.sel,
#yt_wrapper #yt_left .layered-nav .layered-accordion.subhead:hover,
#yt_wrapper #yt_left .layered-nav .layered-accordion.subhead.accordion-open,
.toolbar .toolbar-inner .pagination-wrap .pagination .pages ol li.current a,
.toolbar .toolbar-inner .pagination-wrap .pagination .pages ol li:hover a,
#yt_main .products-grid .product-addcart:hover,
#yt_main .products-grid .product-wishlist:hover,
#yt_main .products-grid .product-compare:hover,
#yt_main .products-list .product-addcart:hover,
#yt_main .products-list .product-wishlist:hover,
#yt_main .products-list .product-compare:hover,
.yt-product-detail .product-next-pre > a:hover,
.yt-product-detail .more-views.slide-gallery .prev:hover,
.yt-product-detail .more-views.slide-gallery .next:hover,
#yt_main .block-related .related-page > li:hover,
#yt_main .block-related .related-page > li.active,
.yt-product-detail .yt-detail-right .add-to-cart .button.btn-cart:hover,
.yt-product-detail .yt-detail-right .product-add-box .wishlist:hover,
.yt-product-detail .yt-detail-right .product-add-box .compare:hover,
.yt-product-detail .tab-product-detail .yt-tab-content .collateral-box .box-collateral .form-add > .button:hover,
.contact-map-wrap .contact-info .contact-address:hover:before,
.contact-map-wrap .contact-info .contact-phone:hover:before,
.contact-map-wrap .contact-info .contact-email:hover:before,
.contact-form .input-box:hover  > span, 
#yt_wrapper .button:hover,
#checkoutSteps li.active > .step-title,
#yt_wrapper #yt_left .block-account .block-content > ul > li.current,
#yt_wrapper #yt_left .block-account .block-content > ul > li:hover,
.pager li > a:hover, 
.pager li > a:focus,
.pager li.current > a,
#checkout-progress-wrapper .block-content dt.complete,
#yt_wrapper #checkout-progress-state > li.active,
#yt-responsivemenu .btn.btn-navbar,
.menu-selectbox .icon-reorder{
	background-color:#F36422;
}

/*a:focus,
a:hover,*/
#yt_header .header-content-right .login-quick .submit-login:hover:after,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li ul.list-sub-custom li:hover,
#yt_footer .other-information .block-content-info li:hover,
#yt_footer .why-choose-us .block-content-info li:hover,
#nav > li > ul > li:hover,
#nav > li > ul > li:hover > a,
.tp-caption.big_orange,
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-price,
#yt_footer .block-newsletter .input-box .icon-chevron-right:hover,
#yt_wrapper .category-products .view-mode strong,
#yt_main .products-grid .product-info .product-price,
#yt_main .products-list .product-info .product-price,
#yt_wrapper #yt_left #narrow-by-list .block-content ol li:hover,
#fancybox-close:hover,
.yt-product-detail .yt-detail-right .price-box,
.yt-product-detail .tab-product-detail .yt-tab-navi > li:hover a,
.yt-product-detail .tab-product-detail .yt-tab-navi > li.active a,
#yt_wrapper #yt_main .my-account #wishlist-view-form .price-box,
#zoptions .price-box,
#crosssell-products-list li .price-box{
	color: #F36422;
}

#yt_header .logo-zen > a{ 
	background-image:url(../images/orange/logo.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.home-under .home-under-logo{
	background: url(../../images/orange/logo-under.png) no-repeat left center;
}
