/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2017, 8:34:29 PM
    Author     : michael
*/

body{	
    font-size:12px;	
}
body{
    font-family:Arial;	
}#yt_header .header-content-right .login-quick .submit-repl,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li a.sm_megamenu_head,
#yt_footer .block-title-footer,
.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu  li div div.sm_megamenu_title,
#nav > li > a,
.tp-caption.big_orange,
.yt-tab-listing .respl-tabs-container .respl-tabs > li,
.yt-tab-listing .respl-items-container .respl-loadmore,
.title-header,
#yt_wrapper #yt_left .block-title,
#yt_wrapper #yt_right .block-title,
#yt_wrapper .page-title,
#yt_wrapper .page-title > h1,
#yt_wrapper .cart .block-title,
.yt-product-detail .yt-detail-right .availability,
.yt-product-detail .tab-product-detail .yt-tab-navi > li > a{
    font-family:Anton, serif !important
}
body.sm_zen{	
    color:#686868 ;			
}
body.sm_zen{	
    background-color:#FFFFFF ;
}
a{	
    color:#686868 ;	
}
a:focus,
a:hover{	
    color:#686868 ;	
}
#yt_wrapper .page-title:before{
    background-color:#686868 ;
}		

.pattern1,
.pattern2,
.pattern3,
.pattern4,
.pattern5,
.pattern6,
.pattern7,
.pattern8{	
    background-repeat:repeat ;	
    background-position:left top ;			
}		

.cloud-zoom-big {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.logo-zen{
    padding: 5px 0 !important;
}

.logo-zen a{
    height: 105px !important;
}

/*--------------------------------------*/


/* 14 Jun 2014 */ 
.pdf_manual{
    list-style-image:url('https://cdn1.iconfinder.com/data/icons/fatcow/16/file_extension_pdf.png') !important;

    margin-bottom: 10px;
}
.software_download{
    list-style-image:url('/images/icons/App-download-manager-icon.png') !important;

    margin-bottom: 10px;
}

.dot_uline{
    border-bottom: 1px dotted lightgrey;
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/location-20.png) no-repeat;
    padding-left: 25px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.category-support #yt_main h3
{
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.category-support #yt_main ul
{
    padding-left: 30px;
}

#contact-info-4 .border{
    height: 206px;
}

.faq .date{display: none;}
.faq .comments span{display: none;}
.faq .meta{display: none !important;}

.map_link{
    background: url(https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/16/Map-Marker-Marker-Inside-Pink.png) no-repeat;
    padding-left: 18px;
    margin-left: 10px;
    color: rgb(219, 6, 168);
    border-left: 1px dotted lightgrey;
}

.btnDownload{
    background: url('/images/icons/download.png') no-repeat;
    padding: 16px;
}

.demo_video{
    background: url('/images/icons/movies.png') no-repeat;
    padding: 16px;
}

/*--------------------------------*/

.where_to_buy h4{
    font-size: 13px;
    margin-bottom: 7px;
    font-weight: bold;
}

.where_to_buy h1{
    font-size: 22px;
}

.where_to_buy h3{
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 7px 0;
}

.contact-info-under{
    margin-top: 0;
    padding-top: 0;
}

/* to hide blog date */
#blog-list .postTitle h3, #blog-detail .postTitle h3{
    display: none;
}

.item-latest-blog .item-lb-date{
    display: none;
}
/*-------------------*/

#yt_main h3{
    font-weight: bold;
    margin: 10px 0;
    font-size: 14px;
}

.cms-privacy-policy #yt_main ul{
    list-style-type: disc;
    padding-left: 20px;
}

/*---------- akhileshbc - accordion ---------*/
.abc_accordion_title{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(104, 104, 104);
    text-transform: uppercase;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-bottom: 10px;
}

.abc_accordion_title:before{
    content: "+";
    font-weight: bold;
    font-size: 24px;
    line-height: 0;
    padding-top: 18px;
    vertical-align: sub;
    width: 22px;
    display: inline-block;
}

.abc_accordion_expanded:before{
    content: "-";
}

.abc_accordion_content{
    display: none;
    margin-bottom: 20px;
    padding-left: 23px;
}
/*-----------------------------*/

.cms-privacy-policy #yt_main a, .cms-terms-conditions #yt_main a{
    color: rgb(243, 101, 35);
}

ul.list-sub-custom ul.list-sub-custom a
{
    color: #F36422;
}

.home-under{
    display: none;
}

.blog-post-view .postContent ol{
    list-style-type:decimal;
    padding-left: 20px;
    margin: 10px 0;
}

.blog-post-view .postTitle h2{
    margin-bottom: 10px;
    font-size: 14px;
}

.blog-post-view .postContent a{
    color: orange;
}

/*-----------------------*/

#yt_header .top-search #search_mini_form .form-search input#search{
    color: #676767 !important;
    font-weight: bold;
}

.abc_orange_btn{
    background-color: #F36523;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #CA5722;
}

/* latin-ext */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(font/KgPSGrLwjoSLN4ZBWvXSfQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(font/o-91-t7-bPc7W26HmS2N4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}