.yt-tab-listing{
	padding:0;
	overflow:hidden;
}
.yt-tab-listing .pre-text{
	margin: 0 0 15px 0;
} 
.yt-tab-listing .post-text{
	margin: 10px 0 0;
}

.yt-tab-listing .respl-wrap{
	margin:0;
	padding:0;
}
.yt-tab-listing .respl-tabs-wrap{
	border-bottom: 1px solid #e9e9e9;
}
.yt-tab-listing a:hover{
	text-decoration: none;
}
/*-----------------------Css for Tabs ----------------------------*/
.yt-tab-listing .respl-wrap .respl-tabs-container{
	margin-bottom: 30px;
	padding: 0;
}

.yt-tab-listing .respl-tabs-container .respl-tabs{
	margin:0;
	padding:0;
	list-style:none;
}

.yt-tab-listing .respl-tabs-container .respl-tabs > li{
    float: left;
    font-size: 150%;
    line-height: 100%;
    margin-right: 5px;
    padding: 10px 15px;
    border: 1px solid #e9e9e9;
    margin-bottom: -1px;
    text-transform: uppercase
}

.yt-tab-listing .respl-tabs-container .respl-tabs > li.tab-sel,
.yt-tab-listing .respl-tabs-container .respl-tabs > li:hover{
	cursor: pointer;
	color: #fff;
}

/*-----------------------------Css for Content----------------------*/
.yt-tab-listing .respl-wrap .respl-items-container{
	margin:0;
	padding:0;
	margin-left: -30px;
}

.yt-tab-listing .respl-items-container .respl-items{
	margin:0;
	padding:0;
	width:100%;
	display:none;	
}

.yt-tab-listing .respl-items-container .respl-items-inner{
	margin:0;
	padding:0;
	width:100%;
	float: left;
	margin-bottom: 10px;
}

.yt-tab-listing .respl-items-container .respl-items-selected{
	display:inline-block;
}

.yt-tab-listing .respl-items-container .respl-item-wrap {
	margin:0;
	padding:0;
 	opacity:0;
	filter:alpha(opacity = 0); 
}

.yt-tab-listing .respl-items-container .respl-items .respl-item{
	float:left;
	margin-bottom:25px;
	opacity:0;
	filter:alpha(opacity = 0);
	padding-left: 30px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-image{
	width: 100%;
	overflow: hidden;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position: relative;
	border: 1px solid #E9E9E9;
	direction: ltr;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-image img{
	width: 100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;	
    opacity: 1;
	filter:alpha(opacity = 100);
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-image img:hover{
	width: 100%;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-info{
	overflow: hidden;
	text-align: center;
	float: left;
	width: 100%;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-title{
	line-height: 160%;
	margin: 5px 0;
	font-weight: bold;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-price{
	margin-bottom: 5px;	
	font-size: 116.67%;
	font-weight: bold;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-price .price-box,
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .ratings{
	margin: 0;
	display: inline-block;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review{
    line-height: 100%;
    float: left;
    width: 100%;
    text-align: center;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .ratings .rating-box{
	margin: 2px 10px 0 0;
}
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .rating-links,
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .no-rating{
	display: inline;
	line-height: 130%;
	direction: ltr;
}
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-review .no-rating{
	float: left;
}

.yt-tab-listing .item-addto-wrap{
	position: absolute;
	top: -100px;
	left: 0;
}
.yt-tab-listing .respl-items-container .respl-items .respl-item .item-inner .item-image:hover img{
    opacity: 0.3;
	filter:alpha(opacity = 30);
}
.yt-tab-listing .item-image:hover .item-addto-wrap{
	position: absolute;
	top: 0;
	left: 0;
}
.yt-tab-listing .item-addto-wrap .item-addcart,
.yt-tab-listing .item-addto-wrap .item-wishlist,
.yt-tab-listing .item-addto-wrap .item-compare{
    height: 30px;
    margin-bottom: 2px;
    overflow: hidden;
    width: 30px;
    color: #fff;
}
.yt-tab-listing .item-addto-wrap .item-addcart:hover,
.yt-tab-listing .item-addto-wrap .item-wishlist:hover,
.yt-tab-listing .item-addto-wrap .item-compare:hover{
	width: 135px;
}
.yt-tab-listing .item-addto-wrap .item-addcart{
	background: url(../images/icon-addcart.png) no-repeat left center #777;
}
.yt-tab-listing .item-addto-wrap .item-wishlist{
	background: url(../images/icon-wishlist.png) no-repeat left center #777;
}
.yt-tab-listing .item-addto-wrap .item-compare{
	background: url(../images/icon-compare.png) no-repeat left center #777;
}
.yt-tab-listing .item-addto-wrap .item-addcart > a,
.yt-tab-listing .item-addto-wrap .item-wishlist > a,
.yt-tab-listing .item-addto-wrap .item-compare > a{
	color: #fff;
	padding-left: 35px;
	line-height: 250%;
	float: left;
}
.yt-tab-listing .item-image .sale-product{
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/bg-sale.png) no-repeat;
	width: 54px;
	height: 53px;
	text-indent: -999em;
}
.yt-tab-listing .item-image .new-product{
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../images/bg-new.png) no-repeat;
	width: 54px;
	height: 53px;
	text-indent: -999em;
}

.yt-tab-listing .respl-items-container .respl-items .respl-item .item-info .item-desc{
	line-height: 140%;
	margin-bottom: 5px;
}

.yt-tab-listing .respl-items  .respl-loading{
	width: 100%; 
	max-width: 100%;
	padding: 0; 
	position: relative;
    background: url(../images/loader.gif) no-repeat scroll center center transparent;
	min-height:300px;
	display:block;
	z-index:0;
}

.yt-tab-listing .respl-items-container .respl-loadmore{
	display:block;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	margin-left: 15px;
	margin-top: 15px;
	width: 100%;
	text-transform: uppercase;
}

.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn{
	padding: 7px 20px;
	display:inline-block;
	color:#FFF;
	font-size: 150%;
	line-height: 135%;
	cursor:pointer;
	position: relative;
	direction: ltr;
}

.yt-tab-listing .respl-items .respl-loadmore .respl-image-loading{
	display:none;
	margin-right:10px;
	vertical-align:middle;
	position: absolute;
	top: 7px;
	left: 20px;
	font-size: 24px;
}

.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn:before{
	content: attr(data-label);
}
.yt-tab-listing .respl-items .respl-loadmore .respl-loadmore-btn.loading:before{
	content: attr(data-label-load);
}

.yt-tab-listing .respl-items.respl-process .respl-loadmore {
	display:none;
}
.yt-tab-listing .respl-items .respl-loadmore .load-number:before{
	content: attr(data-more);
	display: none;
}

.yt-tab-listing .respl-items .respl-loadmore .load-number:after{
	content: attr(data-total);
	display: none;
}
/*-----------------------------Css for Responsive ----------------------*/
.yt-tab-listing .respl-items-container .respl-items.respl01-1{
	margin: 0;
}
.yt-tab-listing .respl01-6 .respl-item{ width: 16.6666%;}
.yt-tab-listing .respl01-5 .respl-item{ width: 20%; }
.yt-tab-listing .respl01-4 .respl-item{ width: 25%; }
.yt-tab-listing .respl01-3 .respl-item{ width: 33.3333%; }
.yt-tab-listing .respl01-2 .respl-item{ width: 50%; }
.yt-tab-listing .respl-items-container .respl-items.respl01-1 .respl-item{ width: 100%; padding: 0;}

@media all and (max-width: 767px){
	.yt-tab-listing .respl-items-container .respl-items.respl04-1{
		margin: 0;
	}
	.yt-tab-listing .respl04-6 .respl-item{ width: 16.64%; }
	.yt-tab-listing .respl04-5 .respl-item{ width: 19.958%; }
	.yt-tab-listing .respl04-4 .respl-item{ width: 24.995%; }
	.yt-tab-listing .respl04-3 .respl-item{ width: 33.315%; }
	.yt-tab-listing .respl04-2 .respl-item{ width: 49.985%; }
	.yt-tab-listing .respl-items-container .respl-items.respl04-1 .respl-item{ width: 100%; padding: 0;}
	.yt-tab-listing .respl04-1 .clr1,
	.yt-tab-listing .respl04-2 .clr2,
	.yt-tab-listing .respl04-3 .clr3,
	.yt-tab-listing .respl04-4 .clr4,
	.yt-tab-listing .respl04-5 .clr5,
	.yt-tab-listing .respl04-6 .clr6{
		clear:both;
	}
}

@media all and (min-width: 768px) and (max-width: 991px){
	.yt-tab-listing .respl-items-container .respl-items.respl03-1{
		margin: 0;
	}
	.yt-tab-listing .respl03-6 .respl-item{ width: 16.6666%; }
	.yt-tab-listing .respl03-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl03-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl03-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl03-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl03-1 .respl-item{ width: 100%; padding: 0; }
	.yt-tab-listing .respl03-1 .clr1,
	.yt-tab-listing .respl03-2 .clr2,
	.yt-tab-listing .respl03-3 .clr3,
	.yt-tab-listing .respl03-4 .clr4,
	.yt-tab-listing .respl03-5 .clr5,
	.yt-tab-listing .respl03-6 .clr6{
		clear:both;
	}
}	

@media all and (min-width: 992px) and (max-width: 1199px){ 
	.yt-tab-listing .respl-items-container .respl-items.respl02-1{
		margin: 0;
	}
	.yt-tab-listing .respl02-6 .respl-item{ width: 16.6666%; }
	.yt-tab-listing .respl02-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl02-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl02-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl02-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl02-1 .respl-item{ width: 100%; padding: 0;}
	.yt-tab-listing .respl02-1 .clr1,
	.yt-tab-listing .respl02-2 .clr2,
	.yt-tab-listing .respl02-3 .clr3,
	.yt-tab-listing .respl02-4 .clr4,
	.yt-tab-listing .respl02-5 .clr5,
	.yt-tab-listing .respl02-6 .clr6{
		clear:both;
	}
}  

@media all and (min-width: 1200px ) and (max-width: 1599px){
	.yt-tab-listing .respl-items-container .respl-items.respl01-1{
		margin: 0;
	}
	.yt-tab-listing .respl01-6 .respl-item{ width: 16.6666%;}
	.yt-tab-listing .respl01-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl01-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl01-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl01-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl01-1 .respl-item{ width: 100%; padding: 0;}
	.yt-tab-listing .respl01-1 .clr1,
	.yt-tab-listing .respl01-2 .clr2,
	.yt-tab-listing .respl01-3 .clr3,
	.yt-tab-listing .respl01-4 .clr4,
	.yt-tab-listing .respl01-5 .clr5,
	.yt-tab-listing .respl01-6 .clr6{
		clear:both;
	}
}

@media all and (min-width: 1600px ){
	.yt-tab-listing .respl-items-container .respl-items.respl00-1{
		margin: 0;
	}
	.yt-tab-listing .respl00-6 .respl-item{ width: 16.6666%;}
	.yt-tab-listing .respl00-5 .respl-item{ width: 20%; }
	.yt-tab-listing .respl00-4 .respl-item{ width: 25%; }
	.yt-tab-listing .respl00-3 .respl-item{ width: 33.3333%; }
	.yt-tab-listing .respl00-2 .respl-item{ width: 50%; }
	.yt-tab-listing .respl-items-container .respl-items.respl00-1 .respl-item{ width: 100%; padding: 0; }
	.yt-tab-listing .respl00-1 .clr1,
	.yt-tab-listing .respl00-2 .clr2,
	.yt-tab-listing .respl00-3 .clr3,
	.yt-tab-listing .respl00-4 .clr4,
	.yt-tab-listing .respl00-5 .clr5,
	.yt-tab-listing .respl00-6 .clr6{
		clear:both;
	}
}

/*-----------------------------ClearFix----------------------*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}